/.idea/
/03_Variables_types/README.md
/04_Functions/README.md
/05_ConditionalExpressions_Loops/Homework1/
/05_ConditionalExpressions_Loops/Homework2/
/05_ConditionalExpressions_Loops/Homework3/
/06_Collections/README.md
/07_ClassesAndObjects/README.md
/09_OOP2/README.md
/kotlin.iml
