/02_HelloKotlin/settings.gradle
/02_HelloKotlin/gradlew.bat
/02_HelloKotlin/gradlew
/02_HelloKotlin/gradle.properties
/02_HelloKotlin/build.gradle
/02_HelloKotlin/gradle/
/02_HelloKotlin/build/
/02_HelloKotlin/.idea/
/02_HelloKotlin/.gradle/
/.idea/
/03_Variables_types/.idea/
/03_Variables_types/out/
/03_Variables_types/README.md
/04_Functions/.idea
/04_Functions/out
/04_Functions/README.md
/05_ConditionalExpressions_Loops/.idea/
/05_ConditionalExpressions_Loops/Homework1/
/05_ConditionalExpressions_Loops/Homework2/
/05_ConditionalExpressions_Loops/Homework3/
/06_Collections/.idea/
/06_Collections/README.md
/07_ClassesAndObjects/.idea/
/07_ClassesAndObjects/out/
/07_ClassesAndObjects/README.md
/08_OOP1/.idea/
/08_OOP1/out/
/09_OOP2/.idea/
/09_OOP2/out/
/09_OOP2/README.md